<div class="col-sm-10 col-xs-12">
    <!-- Text input-->
    <ng-form name="submit-status-form">
        <div class="form-group" style="margin-bottom: 50px;">
            <textarea ng-model="status.text" id="text" name="text" placeholder="What do you think?" class="form-control" ng-required="true"></textarea>
            <button class="btn btn-primary pull-right" name="publish" >Publish</button>
        </div>
    </ng-form>

    <div ng-repeat="post in posts.posts">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="padding:0">
                    <img ng-src="{{post.imageDataUrl}}" src="../../Content/images/nophoto.jpg" class="img-responsive" style="max-height: 50px; display: inline-block" />
                    <span ng-bind="post.ownerName"></span>
                    <span class="pull-right" ng-bind="post.date| date:'dd/MMM/yyyy'"></span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="well" ng-bind="post.text"></div>
                <div style="font-size: 12px" class="text-muted">
                    <a href="" ng-click="like(post)">Like</a> | <a href="">Comment</a> | <a href="">Share</a>
                </div>
            </div>
        </div>
    </div>
    <div class="well margin-top-15" ng-show="!posts.numItems">
        Sorry, there are no posts on your wall...
    </div>

    <!-- Pagination-->
    <div class="row text-center" ng-show="posts.numItems > itemsPerPage">
        <pagination boundary-links="true" total-items="posts.numItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-click="loadPage()"></pagination>
    </div>
</div>

<div class="col-sm-2 col-xs-12">
    <ul class="nav nav-pills nav-stacked margin-bottom-15">
        <li>
            <h4>Friends</h4>
        </li>
        <li ng-repeat=" fr in friends" ng-bind-html-unsafe="fr.text">
            <a href="">{{ fr.userName }}</a>
        </li>
    </ul>
</div>
